# Ignoring unwanted files when pushing to remote

# Ignoring the build folder
build/

# Ignoring certain test folders
test/lib
test/objs
test/UnitTests

# Ignore any .png files created
.png
test/*.png
